@*같은 내용의 footer 태그를 모아놓은 페이지입니다.*@

<footer class="footer footer-default">
    <div class="container">
        @*
        왼쪽 하단에 링크들(나중에 깃허브로 활용해보자)
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com/">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/presentation">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        *@
        <div class="copyright float-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>. PKNU
            <a href="https://www.youtube.com/channel/UCuBRqjIy_dhNI00NcYZzdEQ/videos" target="_blank">IoT Developer Class</a> All rights reserved 
        </div>
    </div>
</footer>
<!--   Core JS Files   -->
<script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="~/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="~/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="~/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="~/assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
