
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Portfolio Page</h1>
    <p>프로필과 비슷하게 작업할 포트폴리오 페이지</p>
</div>

